@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Raleway:wght@500&display=swap");

#servicePart {
  text-align: center;
  color: #ffd700;
  font-weight: 700;
  margin-top: 30px;
  font-family: "Poppins", sans-serif;
  font-style: bold;
}

.horiZontal {
  color: #ffd700;
  margin: 0 auto;
  margin-bottom: 30px;
  width: 190px;
  border: 3px solid #ffd700;
}

@media screen and (max-width: 450px) {
  .horiZontal {
    color: #ffd700;
    margin: 0 auto;
    width: 140px;
    border: 3px solid #ffd700;
  }

  .servicePart {
    margin-bottom: 30px;
  }
}
