@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Raleway:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap");
.hero {
  background-color: #f8f8f8;
  overflow: hidden;
  margin: 30px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.spnTag {
  color: #ffd700;
}

#home {
  text-align: center;
  color: #ffd700;
  font-weight: 700;
  font-style: bold;
  font-size: 34px;
  margin-top: 30px;
  font-family: "Poppins", sans-serif;
}

.hRule {
  color: #ffd700;
  margin: 0 auto;
  width: 130px;
  border: 3px solid #ffd700;
}

#tg2 {
  color: #f3d636;
  margin-top: -10px;
  text-align: left;
  letter-spacing: 2px;
}

.heading h1 {
  color: #ffd700;
  font-size: 55px;
  text-align: center;
  margin-top: 35px;
}

.containeeeer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 65px auto;
}

.hero-content {
  flex: 1;
  width: 600px;
  margin: 0px 25px;
  animation: fadeInUp 2s ease;
}

.hero-content h2 {
  font-size: 38px;
  margin-bottom: 20px;
  color: #333;
  text-align: left;
  letter-spacing: 2px;
}
.hero-content p {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 40px;
  color: #666;
  text-align: left;
  font-family: "Lato", "Helvetica Neue";
  letter-spacing: 1px;
}

.hero-content button {
  display: inline-block;
  background-color: #ff4500;
  color: #fff;
  padding: 12px 24px;
  border-radius: 5px;
  font-size: 20px;
  border: none;
  transition: 0.3s ease;
}

.hero-image {
  flex: 1;
  width: 600px;
  margin: auto;
  animation: fadeInRight 2s ease;
}

img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.load {
  text-align: center;
  margin: 0 auto;
  color: black;
  text-decoration: none;
  font-size: 23px;
  font-family: "Lato", "Helvetica Neue";
}

@media screen and (max-width: 768px) {
  .heading h1 {
    font-size: 45px;
    margin-top: 30px;
  }

  .hero {
    margin: 20px 0px;
  }
  .containeeeer {
    width: 100%;
    flex-direction: column;
    margin: 0px;
    padding: 0px 40px;
  }

  .hero-content {
    width: 100%;
    margin: 35px 0px;
  }
  .hero-content h2 {
    font-size: 30px;
  }

  .hero-content p {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .hero-content button {
    font-size: 16px;
    padding: 8px 16px;
  }

  .hero-image {
    width: 100%;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@media screen and(max-width:450px) {
  .hRule {
    color: #ffd700;
    margin: 0 auto;
    width: 130px;
    border: 3px solid #ffd700;
  }

  .load {
    font-size: 18px;
  }
}

@media screen and (max-width: 375px) {
  .load {
    font-size: 16px;
  }
}
